body {
  font-family: georgia, serif;
  font-size: 18px;
  line-height: 1.6em;
  background-color: antiquewhite;
  padding: 0px 40px;
  min-width: 640px;
}

header {
  margin-bottom: 20px;
}

header p {
  display: inline;
}

nav {
  float: right;
}

main {
  padding: 20px;
  border-radius: 8px;
  border: thin solid grey;
  box-shadow: 15px 15px 50px grey, 5px 5px 5px grey;
  background-color: #fff;
}

footer {
  margin-top: 2em;
  font-size: 14px;
  color: #666;
}

.filter-add{
  display: flex;
  justify-content: space-between;
  border-radius:2px;
  margin-bottom:10px;
  padding:10px;
  background-color:  antiquewhite;
}

.add-course{
  text-align: right;
}

.form-input{
  border-radius: 2px;
  border-width: 1px;
  padding: 3px;
  margin-right:10px;
}

.form-chk{
  color: black;
  padding:3px;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

thead td {
  font-weight: bold;
}

tbody td {
  vertical-align: top;
}

td {
  padding: 2px 10px;
}

.td-course-settings{
  text-align: right;
}

tr:nth-child(even) {
  background-color: #ccc;
}

tr:nth-child(odd) {
  background-color: #fff;
}

#subject{
  font-size: smaller;
  color:rgb(65, 65, 65)
}

#courseNameRow:hover #subjectNameRow{
  display:block;
}

#subjectNameRow{
  display: none;
  font-size: smaller;
  color:rgb(65, 65, 65)
}

.btn-course-setting{
  border-color: rgb(179, 179, 179);
  border-radius: 2px;
  border-width: 1px;
  background-color:white;
  padding-top:2px;
  padding-bottom:2px;
  width:80px;
}

.btn-course-setting:hover{
  background-color: rgb(218, 238, 255);
  cursor: pointer;
}

#btn-course-remove{
  border-color: gray;
  border-radius: 2px;
  border-width: 1px;
  background-color: rgb(231, 184, 184);
  padding-top:2px;
  padding-bottom:2px;
}

#btn-course-remove:hover{
  background-color: rgb(255, 116, 116);
  cursor: pointer;
}

.center {
  text-align: center;
}

.filter {
  margin-bottom: 20px;
}

.course-name {
  width: 67%;
}
