<!-- Sektion 3, JSON - för kursen JavaScriptbaserad webbutveckling -->
<!DOCTYPE html>
<html lang="sv">

<head>
    <title>
        DT162G - JavaScriptbaserad webbutveckling - Sektion 3: Laboration 3
    </title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="my-courses.css" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="my-courses.controller.js"></script>
</head>

<body data-ng-app="myCoursesApp" data-ng-controller="MyCoursesController" data-ng-init="getAllCourses()">
    <header>
        <h1 class="center">Mina kurser</h1>
        <p>De kurser jag läst, eller läser</p>

        <nav>
            <a href="./index.html">Tillbaka till alla kurser</a>
        </nav>
    </header>

    <main>
        <section class="filter-add">
            <section class="filter">
                <form>
                    <label>Sök kurs:&nbsp;<input data-ng-model="filterQuery" class="form-input form-control pull-right"
                            placeholder="Filter..." /></label>
                </form>
            </section>
            <section class="add-course">
                <form>
                    <label for="courseCode">Lägg till kurs: </label>
                    <input type="text" ng-model="courseCode" class="form-input" placeholder="Ange kurskod...">
                    <label for="done">Kurs avklarad: </label>
                    <input type="checkbox" ng-model="done" class="form-chk">
                    <br>
                    <button class="btn-course-setting" ng-click="addCourse()">Lägg till</button>
                </form>
            </section>
        </section>

        <sektion class="courses">
            <table>
                <thead>
                    <tr>
                        <td>Kurskod</td>
                        <td class="course-name">Namn</td>
                        <td>Slutförd</td>
                        <td class="td-course-settings">Ändra/Ta bort</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="course in myCourses | filter:filterQuery | orderBy: 'courseCode'">
                        <td>{{ course.courseCode }}</td>
                        <td>
                            {{ course.courses.name }} 
                            <br>
                            <span id="subject">Ämne: {{ course.subject.subject }}</span>
                        </td>
                        <td ng-if="isCompleted(course.completed)">Ja</td>
                        <td ng-if="!isCompleted(course.completed)">Nej</td>
                        <td class="td-course-settings">
                            <button class="btn-course-setting" ng-click="updateCourse(course.courseCode, course.completed)">
                                <span ng-if="isCompleted(course.completed)">Ej slutförd</span>
                                <span ng-if="!isCompleted(course.completed)">Slutförd</span>
                            </button>
                            <button id="btn-course-remove" ng-click="removeCourse(course.courseCode)">Ta bort</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </sektion>
    </main>

    <footer>
        <p class="center">
            Denna laboration läser och sammanställer data från, och skriver till databassamlingarna
            <a href="/api/files/courses" target="_blank">courses</a>,
            <a href="/api/files/my-courses" target="_blank">my-courses</a> och
            <a href="/api/subjects" target="_blank">subjects</a>
            via ett fränt REST-api.
        </p>
    </footer>
</body>

</html>