<!-- Sektion 2, JSON - för kursen JavaScriptbaserad webbutveckling -->
<!DOCTYPE html>
<html lang="sv">

<head>
    <title>
        DT162G - JavaScriptbaserad webbutveckling - Sektion 2: Laboration 2
    </title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="my-courses.css" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="my-courses.controller.js"></script>
</head>

<body data-ng-app="myCoursesApp" data-ng-controller="MyCoursesController" data-ng-init="getAllCourses()">
    <header>
        <h1 class="center">Mina kurser</h1>
        <p>De kurser jag läst, eller läser</p>

        <nav>
            <a href="./index.html">Tillbaka till alla kurser</a>
        </nav>
    </header>

    <main>
        <section class="filter-add">
            <section class="filter">
                <form>
                    <label>Filtrera på:&nbsp;<input data-ng-model="filterQuery" class="form-control pull-right"
                            placeholder="Filter..." /></label>
                </form>
            </section>
            <section class="add-course">
                <form>
                    <label for="courseCode">Lägg till kurs: </label>
                    <input type="text" ng-model="courseCode" class="form-input" placeholder="Ange kurskod...">
                    <input type="checkbox" ng-model="done" class="form-chk">
                    <label for="done">Kurs avklarad?</label>
                    <button ng-click="addCourse()">Lägg till kurs</button>
                </form>
            </section>
        </section>

        <sektion class="courses">
            <table>
                <thead>
                    <tr>
                        <td>Kurskod</td>
                        <td class="course-name">Namn</td>
                        <td>Slutförd</td>
                        <td>Ändra/Ta bort</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="course in myCourses | filter:filterQuery | orderBy: 'courseCode'">
                        <td>{{ course.courseCode }}</td>
                        <td>
                            {{ course.name }} 
                            <br>
                            <span id="subject">Ämne: {{ course.subject }}</span>
                        </td>
                        <td>{{ isCompleted(course.completed) }}</td>
                        <td>
                            <button id="btn-remove-course" ng-click="removeCourse(course.courseCode)">Ta bort</button>
                          
                            <button id="btn-completed-course" ng-click="updateCourse(course.courseCode, course.completed)">Avklarad/klarad</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </sektion>
    </main>

    <footer>
        <p class="center">
            Denna laboration läser data från filen
            <a href="/api/my/courses" target="_blank">myCourses.json</a>
            som hämtas via ett fränt REST-api.
        </p>
    </footer>
</body>

</html>